* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	height: 100vh;
	place-items: center;
}

@font-face {font-family: "CalculusRegular";
  src: url("../fonts/calculus.eot");
  src: url("../fonts/calculus.eot?#iefix") format("embedded-opentype"),
  url("../fonts/calculus.woff2") format("woff2"),
  url("../fonts/calculus.woff") format("woff"),
  url("../fonts/calculus.ttf") format("truetype"),
  url("../fonts/calculus.svg#CalculusRegular") format("svg");
}

.calculator {
	background-color: #E6E6E6;
	border-radius: 5%/3%;
	-webkit-box-shadow:0.1vw 0.1vw 0.2vw -0.2vw #A5A6A5 ,0.2vw 0.3vw 0.2vw -0.2vw #AAABAA ,0.3vw 0.5vw 0.2vw -0.2vw #AFB0AF ,0.4vw 0.7vw 0.3vw -0.2vw #B5B6B4 ,0.5vw 0.9vw 0.4vw -0.2vw #BABBBA ,0.6vw 1.1vw 0.5vw -0.2vw #C0C1BF ,0.7vw 1.3vw 0.6vw -0.2vw #C5C6C5 ,0.8vw 1.5vw 0.7vw -0.2vw #CBCCCA ,0.9vw 1.7vw 0.8vw -0.2vw #D1D2D0 ,1vw 1.9vw 0.9vw -0.2vw #D7D8D6 ,1.1vw 2.1vw 1vw -0.2vw #DDDEDD ,1.2vw 2.3vw 1.2vw -0.2vw #E4E5E3 ,1.3vw 2.5vw 1.4vw -0.2vw #EBEBEA;
	-moz-box-shadow:0.1vw 0.1vw 0.2vw -0.2vw #A5A6A5 ,0.2vw 0.3vw 0.2vw -0.2vw #AAABAA ,0.3vw 0.5vw 0.2vw -0.2vw #AFB0AF ,0.4vw 0.7vw 0.3vw -0.2vw #B5B6B4 ,0.5vw 0.9vw 0.4vw -0.2vw #BABBBA ,0.6vw 1.1vw 0.5vw -0.2vw #C0C1BF ,0.7vw 1.3vw 0.6vw -0.2vw #C5C6C5 ,0.8vw 1.5vw 0.7vw -0.2vw #CBCCCA ,0.9vw 1.7vw 0.8vw -0.2vw #D1D2D0 ,1vw 1.9vw 0.9vw -0.2vw #D7D8D6 ,1.1vw 2.1vw 1vw -0.2vw #DDDEDD ,1.2vw 2.3vw 1.2vw -0.2vw #E4E5E3 ,1.3vw 2.5vw 1.4vw -0.2vw #EBEBEA;
	box-shadow:0.1vw 0.1vw 0.2vw -0.2vw #A5A6A5 ,0.2vw 0.3vw 0.2vw -0.2vw #AAABAA ,0.3vw 0.5vw 0.2vw -0.2vw #AFB0AF ,0.4vw 0.7vw 0.3vw -0.2vw #B5B6B4 ,0.5vw 0.9vw 0.4vw -0.2vw #BABBBA ,0.6vw 1.1vw 0.5vw -0.2vw #C0C1BF ,0.7vw 1.3vw 0.6vw -0.2vw #C5C6C5 ,0.8vw 1.5vw 0.7vw -0.2vw #CBCCCA ,0.9vw 1.7vw 0.8vw -0.2vw #D1D2D0 ,1vw 1.9vw 0.9vw -0.2vw #D7D8D6 ,1.1vw 2.1vw 1vw -0.2vw #DDDEDD ,1.2vw 2.3vw 1.2vw -0.2vw #E4E5E3 ,1.3vw 2.5vw 1.4vw -0.2vw #EBEBEA;
	display: grid;
	grid-template:
		[row1-start] "screen screen screen screen" 2fr [row1-end]
		[row2-start] ". . solar-panel solar-panel" 1fr [row2-end]
		[row3-start] "ac plus-minus percentage divide" 2fr [row3-end]
		[row4-start] "seven eight nine multiply" 2fr [row4-end]
		[row5-start] "four five six minus" 2fr [row5-end]
		[row6-start] "one two three plus" 2fr [row6-end]
		[row7-start] "zero zero decimal-point equals" 2fr [row7-end]
		/ 1fr 1fr 1fr 1fr;
	grid-gap: 1% 2%;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 75vw;
	max-height: 90vh;
	max-width: 58.5vh;
	padding: 1.25%;
	width: 48.75vw;
	transform: rotate(0deg);
	transition: transform 4s;
}

.calculator__display {
	background-image:
		url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='-150 0 2900 386.83'%3E%3Ctitle%3EUntitled-1%3C/title%3E%3Cpath d='M74.25,196.75,54.43,216.56a6.16,6.16,0,0,1-8.94,0L25,196.75c-1.27-1.28-.63-3.19-.63-4.47V90c0-1.28-.64-3.2.63-4.48L44.85,65.73c2.55-2.56,7-1.92,9.58.64L73.61,85.54c1.28,1.28,1.28,3.2,1.28,4.48V192.28S75.53,195.47,74.25,196.75Zm0,168.73L54.43,385.29a6.16,6.16,0,0,1-8.94,0L25,365.48c-1.27-1.28-.63-3.19-.63-4.47V258.75c0-1.28-.64-3.2.63-4.48l19.82-19.81c2.55-2.56,7-1.92,9.58.64l19.18,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S75.53,364.2,74.25,365.48ZM204,81.71c-1.28,1.28-2.56.64-3.83.64H82.56c-1.28,0-3.2.64-4.48-.64L57.63,61.26c-2.56-2.56-1.92-6.4.64-8.95L78.08,32.49c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.56.64-3.83.64H82.56c-1.28,0-3.2.64-4.48-.64L57.63,230c-2.56-2.55-1.92-6.39.64-8.94l19.81-19.82c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63L224.44,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.69,4.69,0,0,1-3.83,1.28H82.56c-1.28,0-3.2,0-4.48-1.28L57.63,397.44c-2.56-2.56-1.92-6.39.64-8.95l19.81-19.81c1.28-1.28,3.2-.64,4.48-.64h117.6s2.55-1.28,3.83,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.24-200.69c-2.56,2.56-5.76,2.56-8.31,0l-20.46-19.81c-1.27-1.28-1.27-3.19-1.27-4.47V90c0-1.28,0-3.2,1.27-4.48l19.82-19.81c2.55-2.56,6.39-1.92,8.95.64L257,85.54c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.76,2.56-8.31,0l-20.46-19.81c-1.27-1.28-1.27-3.19-1.27-4.47V258.75c0-1.28,0-3.2,1.27-4.48l19.82-19.81c2.55-2.56,6.39-1.92,8.95.64L257,254.27c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M374,196.75l-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S375.27,195.47,374,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S375.27,364.2,374,365.48ZM503.73,81.71c-1.27,1.28-2.55.64-3.83.64H382.3c-1.28,0-3.2.64-4.47-.64L357.37,61.26c-2.55-2.56-1.91-6.4.64-8.95l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63H499.9s2.56-.64,3.83.63l20.46,19.82a6.19,6.19,0,0,1,0,8.95Zm0,168.73c-1.27,1.28-2.55.64-3.83.64H382.3c-1.28,0-3.2.64-4.47-.64L357.37,230c-2.55-2.55-1.91-6.39.64-8.94l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63H499.9s2.56-.64,3.83.63L524.19,221a6.18,6.18,0,0,1,0,8.94Zm0,166.81a4.67,4.67,0,0,1-3.83,1.28H382.3c-1.28,0-3.2,0-4.47-1.28l-20.46-19.81c-2.55-2.56-1.91-6.39.64-8.95l19.82-19.81c1.27-1.28,3.19-.64,4.47-.64H499.9s2.56-1.28,3.83,0l20.46,20.45a5.47,5.47,0,0,1,0,8.31ZM537,216.56c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48L528,65.73c2.56-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48L528,234.46c2.56-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M673.73,196.75l-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S675,195.47,673.73,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S675,364.2,673.73,365.48ZM803.48,81.71c-1.28,1.28-2.56.64-3.84.64H682c-1.28,0-3.19.64-4.47-.64L657.12,61.26c-2.56-2.56-1.92-6.4.64-8.95l19.81-19.82c1.28-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.84.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.56.64-3.84.64H682c-1.28,0-3.19.64-4.47-.64L657.12,230c-2.56-2.55-1.92-6.39.64-8.94l19.81-19.82c1.28-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.84.63L823.93,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.7,4.7,0,0,1-3.84,1.28H682c-1.28,0-3.19,0-4.47-1.28l-20.45-19.81c-2.56-2.56-1.92-6.39.64-8.95l19.81-19.81c1.28-1.28,3.19-.64,4.47-.64h117.6s2.56-1.28,3.84,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.23-200.69c-2.55,2.56-5.75,2.56-8.31,0L808,196.75c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.4-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.55,2.56-5.75,2.56-8.31,0L808,365.48c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.4-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M973.48,196.75l-19.82,19.81a6.16,6.16,0,0,1-8.94,0l-20.46-19.81c-1.27-1.28-.63-3.19-.63-4.47V90c0-1.28-.64-3.2.63-4.48l19.82-19.81c2.55-2.56,7-1.92,9.58.64l19.18,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S974.76,195.47,973.48,196.75Zm0,168.73-19.82,19.81a6.16,6.16,0,0,1-8.94,0l-20.46-19.81c-1.27-1.28-.63-3.19-.63-4.47V258.75c0-1.28-.64-3.2.63-4.48l19.82-19.81c2.55-2.56,7-1.92,9.58.64l19.18,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S974.76,364.2,973.48,365.48ZM1103.22,81.71c-1.28,1.28-2.56.64-3.83.64H981.79c-1.28,0-3.2.64-4.48-.64L956.86,61.26c-2.56-2.56-1.92-6.4.64-8.95l19.81-19.82c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.56.64-3.83.64H981.79c-1.28,0-3.2.64-4.48-.64L956.86,230c-2.56-2.55-1.92-6.39.64-8.94l19.81-19.82c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63L1123.67,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.69,4.69,0,0,1-3.83,1.28H981.79c-1.28,0-3.2,0-4.48-1.28l-20.45-19.81c-2.56-2.56-1.92-6.39.64-8.95l19.81-19.81c1.28-1.28,3.2-.64,4.48-.64h117.6s2.55-1.28,3.83,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.24-200.69c-2.56,2.56-5.76,2.56-8.31,0l-20.46-19.81c-1.27-1.28-1.27-3.19-1.27-4.47V90c0-1.28,0-3.2,1.27-4.48l19.82-19.81c2.55-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.76,2.56-8.31,0l-20.46-19.81c-1.27-1.28-1.27-3.19-1.27-4.47V258.75c0-1.28,0-3.2,1.27-4.48l19.82-19.81c2.55-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M1273.22,196.75l-19.81,19.81a6.18,6.18,0,0,1-9,0L1224,196.75c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S1274.5,195.47,1273.22,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-9,0L1224,365.48c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S1274.5,364.2,1273.22,365.48ZM1403,81.71c-1.27,1.28-2.55.64-3.83.64h-117.6c-1.28,0-3.2.64-4.47-.64L1256.6,61.26c-2.55-2.56-1.91-6.4.64-8.95l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.83.63l20.46,19.82a6.19,6.19,0,0,1,0,8.95Zm0,168.73c-1.27,1.28-2.55.64-3.83.64h-117.6c-1.28,0-3.2.64-4.47-.64L1256.6,230c-2.55-2.55-1.91-6.39.64-8.94l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.83.63L1423.42,221a6.18,6.18,0,0,1,0,8.94Zm0,166.81a4.67,4.67,0,0,1-3.83,1.28h-117.6c-1.28,0-3.2,0-4.47-1.28l-20.46-19.81c-2.55-2.56-1.91-6.39.64-8.95l19.82-19.81c1.27-1.28,3.19-.64,4.47-.64h117.6s2.56-1.28,3.83,0l20.46,20.45a5.47,5.47,0,0,1,0,8.31Zm33.24-200.69c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,9,.64L1456,85.54c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,9,.64L1456,254.27c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M1573,196.75l-19.81,19.81a6.18,6.18,0,0,1-9,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S1574.24,195.47,1573,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-9,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S1574.24,364.2,1573,365.48ZM1702.71,81.71c-1.28,1.28-2.56.64-3.84.64h-117.6c-1.28,0-3.19.64-4.47-.64l-20.45-20.45c-2.56-2.56-1.92-6.4.64-8.95l19.81-19.82c1.28-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.84.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.56.64-3.84.64h-117.6c-1.28,0-3.19.64-4.47-.64L1556.35,230c-2.56-2.55-1.92-6.39.64-8.94l19.81-19.82c1.28-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.84.63L1723.16,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.7,4.7,0,0,1-3.84,1.28h-117.6c-1.28,0-3.19,0-4.47-1.28l-20.45-19.81c-2.56-2.56-1.92-6.39.64-8.95l19.81-19.81c1.28-1.28,3.19-.64,4.47-.64h117.6s2.56-1.28,3.84,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.23-200.69c-2.55,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48L1727,65.73c2.56-2.56,6.4-1.92,9,.64l19.82,19.17c1.27,1.28.63,3.2.63,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.55,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48L1727,234.46c2.56-2.56,6.4-1.92,9,.64l19.82,19.17c1.27,1.28.63,3.2.63,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M1872.71,196.75l-19.81,19.81a6.18,6.18,0,0,1-9,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.55-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S1874,195.47,1872.71,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-9,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.55-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S1874,364.2,1872.71,365.48ZM2002.45,81.71c-1.28,1.28-2.55.64-3.83.64H1881c-1.28,0-3.2.64-4.48-.64l-20.45-20.45c-2.56-2.56-1.92-6.4.64-8.95l19.81-19.82c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.55.64-3.83.64H1881c-1.28,0-3.2.64-4.48-.64L1856.09,230c-2.56-2.55-1.92-6.39.64-8.94l19.81-19.82c1.28-1.27,3.2-.63,4.48-.63h117.6s2.55-.64,3.83.63L2022.9,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.68,4.68,0,0,1-3.83,1.28H1881c-1.28,0-3.2,0-4.48-1.28l-20.45-19.81c-2.56-2.56-1.92-6.39.64-8.95l19.81-19.81c1.28-1.28,3.2-.64,4.48-.64h117.6s2.55-1.28,3.83,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.24-200.69c-2.56,2.56-5.76,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.76,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,9,.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M2172.45,196.75l-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V192.28S2173.73,195.47,2172.45,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-8.95,0l-20.45-19.81c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.17,19.17c1.28,1.28,1.28,3.2,1.28,4.48V361S2173.73,364.2,2172.45,365.48ZM2302.19,81.71c-1.27,1.28-2.55.64-3.83.64h-117.6c-1.28,0-3.2.64-4.47-.64l-20.46-20.45c-2.55-2.56-1.91-6.4.64-8.95l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.83.63l20.46,19.82a6.19,6.19,0,0,1,0,8.95Zm0,168.73c-1.27,1.28-2.55.64-3.83.64h-117.6c-1.28,0-3.2.64-4.47-.64L2155.83,230c-2.55-2.55-1.91-6.39.64-8.94l19.82-19.82c1.27-1.27,3.19-.63,4.47-.63h117.6s2.56-.64,3.83.63L2322.65,221a6.18,6.18,0,0,1,0,8.94Zm0,166.81a4.67,4.67,0,0,1-3.83,1.28h-117.6c-1.28,0-3.2,0-4.47-1.28l-20.46-19.81c-2.55-2.56-1.91-6.39.64-8.95l19.82-19.81c1.27-1.28,3.19-.64,4.47-.64h117.6s2.56-1.28,3.83,0l20.46,20.45a5.47,5.47,0,0,1,0,8.31Zm33.24-200.69c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,8.95.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.56,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48l19.81-19.81c2.56-2.56,6.39-1.92,8.95.64l19.81,19.17c1.28,1.28.64,3.2.64,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3Cpath d='M2472.19,196.75l-19.81,19.81a6.18,6.18,0,0,1-9,0L2423,196.75c-1.28-1.28-.64-3.19-.64-4.47V90c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.18,19.17c1.27,1.28,1.27,3.2,1.27,4.48V192.28S2473.47,195.47,2472.19,196.75Zm0,168.73-19.81,19.81a6.18,6.18,0,0,1-9,0L2423,365.48c-1.28-1.28-.64-3.19-.64-4.47V258.75c0-1.28-.64-3.2.64-4.48l19.81-19.81c2.56-2.56,7-1.92,9.59.64l19.18,19.17c1.27,1.28,1.27,3.2,1.27,4.48V361S2473.47,364.2,2472.19,365.48ZM2601.94,81.71c-1.28,1.28-2.56.64-3.84.64H2480.5c-1.27,0-3.19.64-4.47-.64l-20.45-20.45c-2.56-2.56-1.92-6.4.64-8.95L2476,32.49c1.28-1.27,3.2-.63,4.47-.63h117.6s2.56-.64,3.84.63l20.45,19.82a6.18,6.18,0,0,1,0,8.95Zm0,168.73c-1.28,1.28-2.56.64-3.84.64H2480.5c-1.27,0-3.19.64-4.47-.64L2455.58,230c-2.56-2.55-1.92-6.39.64-8.94L2476,201.22c1.28-1.27,3.2-.63,4.47-.63h117.6s2.56-.64,3.84.63L2622.39,221a6.16,6.16,0,0,1,0,8.94Zm0,166.81a4.7,4.7,0,0,1-3.84,1.28H2480.5c-1.27,0-3.19,0-4.47-1.28l-20.45-19.81c-2.56-2.56-1.92-6.39.64-8.95L2476,368.68c1.28-1.28,3.2-.64,4.47-.64h117.6s2.56-1.28,3.84,0l20.45,20.45c2.56,2.56,2.56,5.75,0,8.31Zm33.23-200.69c-2.55,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V90c0-1.28,0-3.2,1.28-4.48l19.82-19.81c2.55-2.56,6.39-1.92,8.94.64L2655,85.54c1.27,1.28.63,3.2.63,4.48V192.28s1.28,3.19,0,4.47Zm0,168.73c-2.55,2.56-5.75,2.56-8.31,0l-20.45-19.81c-1.28-1.28-1.28-3.19-1.28-4.47V258.75c0-1.28,0-3.2,1.28-4.48l19.82-19.81c2.55-2.56,6.39-1.92,8.94.64L2655,254.27c1.27,1.28.63,3.2.63,4.48V361s1.28,3.19,0,4.47Z' transform='translate(-24.24 -31.7)' style='fill:%238d9c90'/%3E%3C/svg%3E"),
		linear-gradient(90deg, hsl(110, 9%, 58%) 0%, hsl(136, 9%, 58%) 50%, hsl(160, 9%, 58%) 100%);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4% 4% .35% .35% / 16% 16% 2% 2%;
	-webkit-box-shadow: 0.1vw 0.1vw 0.2vw 0vw rgba(77, 77, 77, 0.7) inset,0.2vw 0.3vw 0.2vw 0vw rgba(77, 77, 77, 0.5) inset, 0.3vw 0.5vw 0.4vw 0vw rgba(77, 77, 77, 0.3) inset;
	-moz-box-shadow: 0.1vw 0.1vw 0.2vw 0vw rgba(77, 77, 77, 0.7) inset,0.2vw 0.3vw 0.2vw 0vw rgba(77, 77, 77, 0.5) inset, 0.3vw 0.5vw 0.4vw 0vw rgba(77, 77, 77, 0.3) inset;
	box-shadow: 0.1vw 0.1vw 0.2vw 0vw rgba(77, 77, 77, 0.7) inset,0.2vw 0.3vw 0.2vw 0vw rgba(77, 77, 77, 0.5) inset, 0.3vw 0.5vw 0.4vw 0vw rgba(77, 77, 77, 0.3) inset;
	display: flex;
	align-items: center;
	grid-area: screen;
	padding-right: 3.5%;
}

.calculator__display--background {
}

.calculator__readout {
	flex: 1;
	color: rgb(52, 60, 72);
    font-family: "CalculusRegular" !important;
    font-size: 12.5vmin;
    font-style: normal;
    font-variant-numeric: tabular-nums;
    height: 1vh;
    letter-spacing: -.03em;
    opacity: 1.0;
    position: relative;
    top: -7vmin;
	text-align: right;
	-webkit-text-stroke: .07vw rgb(135, 148, 143);
	transition: opacity 5s;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calculator__readout--one-spacing {
	margin-left: 0.285em;
}

.calculator__readout--decimal-point-spacing {
	vertical-align: -.06em;
	margin-left: -0.1em;
	margin-right: -0.1em;
}

.calculator--temp-decimal-point {
	flex: 0;
}

.calculator__solar-panel {
	display: flex;
	background-color: #CCA464;
	border-radius: 2%/8%;
	-webkit-box-shadow:0.1vw 0.1vw 0.2vw 0px #71717185 inset,0.2vw 0.3vw 0.2vw 0px #8684845e inset;
	-moz-box-shadow:0.1vw 0.1vw 0.2vw 0px #71717185 inset,0.2vw 0.3vw 0.2vw 0px #8684845e inset;
	box-shadow:0.1vw 0.1vw 0.2vw 0px #71717185 inset,0.2vw 0.3vw 0.2vw 0px #8684845e inset;
	grid-area: solar-panel;
}

.calculator__button {
	background-color: rgb(230, 230, 230);
	border-radius: 1%;
	-webkit-box-shadow:0.1vw 0.1vw 0.2vw 0px #949494 ,0.2vw 0.3vw 0.2vw 0px #a8a8a8 ,0.3vw 0.5vw 0.4vw 0px #cccccc ;
	-moz-box-shadow:0.1vw 0.1vw 0.2vw 0px #949494 ,0.2vw 0.3vw 0.2vw 0px #a8a8a8 ,0.3vw 0.5vw 0.4vw 0px #cccccc ;
	box-shadow:0.1vw 0.1vw 0.2vw 0px #949494 ,0.2vw 0.3vw 0.2vw 0px #a8a8a8 ,0.3vw 0.5vw 0.4vw 0px #cccccc ;
	padding: 20% 21% 10%;
	transition: box-shadow 0.3s, -moz-box-shadow 0.3s, -webkit-box-shadow 0.3s, background-color 0.1s;
}

.calculator__button > * {
  pointer-events: none;
}

.calculator__button:active {
	background-color: rgb(227, 227, 227);
	-webkit-box-shadow:0.05vw 0.05vw 0.1vw 0px #949494 inset, 0.1vw 0.15vw 0.1vw 0px #a8a8a8 inset,0.15vw 0.25vw 0.2vw 0px #cccccc inset;
	-moz-box-shadow:0.05vw 0.05vw 0.1vw 0px #949494 inset, 0.1vw 0.15vw 0.1vw 0px #a8a8a8 inset,0.15vw 0.25vw 0.2vw 0px #cccccc inset;
	box-shadow:0.05vw 0.05vw 0.1vw 0px #949494 inset, 0.1vw 0.15vw 0.1vw 0px #a8a8a8 inset,0.15vw 0.25vw 0.2vw 0px #cccccc inset;
}

.calculator__button--function {
	background-color: rgb(204, 204, 204);
}

.calculator__button--function:active {
	background-color: rgb(200, 200, 200);
}

.calculator__icon {
}

.calculator--ac {
	grid-area: ac;
}

.calculator--plus-minus {
	grid-area: plus-minus;
}

.calculator--percentage {
	grid-area: percentage;
}

.calculator--divide {
	grid-area: divide;
}

.calculator--seven {
	grid-area: seven;
}

.calculator--eight {
	grid-area: eight;
}

.calculator--nine {
	grid-area: nine;
}

.calculator--multiply {
	grid-area: multiply;
}

.calculator--four {
	grid-area: four;
}

.calculator--five {
	grid-area: five;
}

.calculator--six {
	grid-area: six;
}

.calculator--minus {
	grid-area: minus;
}

.calculator--one {
	grid-area: one;
}

.calculator--two {
	grid-area: two;
}

.calculator--three {
	grid-area: three;
}

.calculator--plus {
	grid-area: plus;
}

.calculator--zero {
	grid-area: zero;
	border-radius: 1% 0.5% 0.5% 7% / 0.5% 1% 1% 15%;
	padding: 6% 10.5% 5%;
}

.calculator--decimal-point {
	grid-area: decimal-point;
}

.calculator--equals {
	grid-area: equals;
	border-radius: 0 0 15% 0;
	background-color: rgb(255, 153, 0);
}

.calculator--equals:active {
	background-color: rgb(252, 152, 3);
}
